*{
  overflow-x: hidden;
}

body {
  background:black;
  
  
  /* radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */

  font-family: "Lato", sans-serif;
  background-color: black;
}
.book{
  font-size: 20px;
}
.live{
  border: 2px solid #cb9b51;
  color: #cb9b51;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  font-weight: bolder;
  right :20px;
  bottom: 20px;
 text-align: center;
 line-height: 80%;
 background: black;
 border-radius: 30px;
 z-index: 1;

  
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
i{
   background: -webkit-linear-gradient(#462523 0,
       	#cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.btn{
  position:fixed;
  width:100px;
  font-size: 40px;
  border: none;
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  margin: 20px;
  
}
.btn2{
  padding-left: 30px;
  position:fixed;
  width:70px;
  font-size:40px;
  border: none;
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  margin: 20px;
  margin-left: 150px;
  
}

.bar{ 
  background: none;
  text-align: left;
  margin:0;
  padding:10px;
  position:fixed;
  width:100vw;
  font-size:30px;
  border: none;
  overflow: hidden;
  background-color: #000;
  position: fixed;
  
  top: 0;
  
  
  
}

#navbar {
  
    background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 1s;
}

#navbar a{
  float: center;
  display: block;
  color: white;
  text-align: center;
  
  text-decoration: none;
  font-size: 20px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
.azlan{
  z-index: 1;
 
    position: fixed;
    margin-top: 28px;
   transform: translate(-50%,-50%);
   margin-left: 180px;
   text-align: center;
   font-family: 'Times New Roman',serif;
   letter-spacing: 5px;
   font-size: 30px;
   font-weight: bold;
   background-image: -webkit-linear-gradient(left, #462523 0%, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
   background-image: -moz-linear-gradient(left, #462523 0%, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
   background-image: -o-linear-gradient(left, #462523 0%, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
   background-image: linear-gradient(to right, #462523 0%, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);;
   color:transparent;
   -webkit-background-clip:text;

}
.liologo{
  position: fixed;
  left:175px;
  
  
}
/*
.bg1 img{
  height: 100vh;
  width: 100%;
  position: absolute;
  left:0;
  top: 0;
}
*/
.image {
  top:200px;
  position: fixed;
  opacity:10%;
}


.footer-clean {
  padding:50px 0;
  
  background-color: #444;
  
  color:white;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
  overflow:hidden;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
